Import Library

In [ ]:
import pandas as pd
import math
import requests

Import Dataset

In [ ]:
df = pd.read_csv('dataset_3.csv')

In [ ]:
print(df.head())

   Person ID Gender  Age            Occupation  Sleep Duration  \
0          1   Male   27     Software Engineer             6.1
1          2   Male   28                Doctor             6.2
2          3   Male   28                Doctor             6.2
3          4   Male   28  Sales Representative             5.9
4          5   Male   28  Sales Representative             5.9

   Quality of Sleep  Physical Activity Level  Stress Level BMI Category  \
0                 6                       42             6   Overweight
1                 6                       60             8       Normal
2                 6                       60             8       Normal
3                 4                       30             8        Obese
4                 4                       30             8        Obese

  Blood Pressure  Heart Rate  Daily Steps Sleep Disorder
0         126/83          77         4200            NaN
1         125/80          75        10000            NaN
2         125/80          75        10000            NaN
3         140/90          85         3000    Sleep Apnea
4         140/90          85         3000    Sleep Apnea

Buang Kolom yang Tidak Dipakai

In [ ]:
df = df.drop(columns=['Person ID', 'Gender', 'Age', 'Occupation'])

In [ ]:
print(df.head())

   Sleep Duration  Quality of Sleep  Physical Activity Level  Stress Level  \
0             6.1                 6                       42             6
1             6.2                 6                       60             8
2             6.2                 6                       60             8
3             5.9                 4                       30             8
4             5.9                 4                       30             8

  BMI Category Blood Pressure  Heart Rate  Daily Steps Sleep Disorder
0   Overweight         126/83          77         4200            NaN
1       Normal         125/80          75        10000            NaN
2       Normal         125/80          75        10000            NaN
3        Obese         140/90          85         3000    Sleep Apnea
4        Obese         140/90          85         3000    Sleep Apnea

In [ ]:
nilai_max_min = df['Daily Steps'].agg(['max', 'min'])
print(nilai_max_min)

max    10000
min     3000
Name: Daily Steps, dtype: int64

In [ ]:
print(df.dtypes)

Sleep Duration             float64
Quality of Sleep             int64
Physical Activity Level      int64
Stress Level                 int64
BMI Category                object
Blood Pressure              object
Heart Rate                   int64
Daily Steps                  int64
Sleep Disorder              object
dtype: object

In [ ]:
missing_values = df.isnull().sum()

print(missing_values)

check = df.isnull().sum()

Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [ ]:
df['Quality of Sleep'] = df['Quality of Sleep'].astype('int64')
df['Physical Activity Level'] = df['Physical Activity Level'].astype('int64')

Perbaiki kolom Sleep Disorder

In [ ]:
df['Sleep Disorder'] = df['Sleep Disorder'].apply(lambda x: 'No' if pd.isnull(x) else 'Yes')

print(df)

     Sleep Duration  Quality of Sleep  Physical Activity Level  Stress Level  \
0               6.1                 6                       42             6
1               6.2                 6                       60             8
2               6.2                 6                       60             8
3               5.9                 4                       30             8
4               5.9                 4                       30             8
..              ...               ...                      ...           ...
369             8.1                 9                       75             3
370             8.0                 9                       75             3
371             8.1                 9                       75             3
372             8.1                 9                       75             3
373             8.1                 9                       75             3

    BMI Category Blood Pressure  Heart Rate  Daily Steps Sleep Disorder
0     Overweight         126/83          77         4200             No
1         Normal         125/80          75        10000             No
2         Normal         125/80          75        10000             No
3          Obese         140/90          85         3000            Yes
4          Obese         140/90          85         3000            Yes
..           ...            ...         ...          ...            ...
369   Overweight         140/95          68         7000            Yes
370   Overweight         140/95          68         7000            Yes
371   Overweight         140/95          68         7000            Yes
372   Overweight         140/95          68         7000            Yes
373   Overweight         140/95          68         7000            Yes

[374 rows x 9 columns]

Download Dataset Baru

In [ ]:
df.to_csv('dataset_clean.csv', index=False)